body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:241px;
  height:58px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:237px;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:82px;
  width:241px;
  height:92px;
}
#u39_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:92px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:92px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:241px;
  height:30px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:241px;
  height:32px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
